.background {
    text-align: center;
    align-content: center;
    font-weight: bolder;
    font-size: 40;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFACD), to(#E9967A))
}

.art {
    font-weight: bold;
    font-size: 14;
    height: 300px;
    line-height: 25px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    width: 800px;
    background: -webkit-gradient(linear, center top, center bottom, from(#FF6347), to(#F0E68C));
}

.head{
    font-weight: bolder;
    font-size: 24;
}

.sec {
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    width: 810px;
    background: -webkit-gradient(linear, center top, center bottom, from(#800000), to(#8B4513));
}